* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla';
    max-height: 2100px;
}

.main--div {
    background-color: #F5F7FB;
    height: 888px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 80px;
    margin: 0px;
}

.desc {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: lighter;
}

.startButton {
    background-color: #4D5B9E;
    width: 200px;
    height: 70px;
    font-size: 25px;
    font-weight: 200;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-family: 'Karla', sans-serif;
}

.blob-one {
    width: 450px;
    height: 450px;
    background-color: #DEEBF8;
    position: absolute;
    border-radius: 56% 44% 73% 27% / 45% 68% 32% 55%;
    right: 1350px;
    top: 600px;
    transform: rotate(30.49deg);
}

.blob-two {
    width: 450px;
    height: 450px;
    border-radius: 56% 44% 73% 27% / 45% 68% 32% 55%;
    position: absolute;
    left: 80.24%;
    bottom: 75.16%;

    background: #FFFAD1;
    transform: rotate(-60.49deg);
}

.quest--div {
    margin-left:250px;
    margin-right:250px;
    margin-top:45px;
    /* height: 150px; */
}

.hr {
    padding-top:20px;
}

.quest--blob-one {
    width: 450px;
    height: 450px;
    background-color: #DEEBF8;
    position: absolute;
    border-radius: 56% 44% 73% 27% / 45% 68% 32% 55%;
    right: 1400px;
    top: 600px;
    transform: rotate(20.49deg);
}

.quest--blob-two {
    width: 450px;
    height: 450px;
    border-radius: 56% 44% 73% 27% / 45% 68% 32% 55%;
    position: absolute;
    left: 84.24%;
    bottom: 75.16%;

    background: #FFFAD1;
    transform: rotate(-60.49deg);
}

.quest--choice-button {
    border-radius: 8px;
    width: fit-content;
    height:30px;
    background-color: #F5F7FB;
    cursor: pointer;
    font-size: 0.9rem;
    border-width: 0.5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    margin-right: 20px;
    padding: 0px 15px;
    margin-bottom:20px;
    color: #293264;
}

.quest--title {
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.quest--choice-button:hover {
    background-color: #aeb0b3a4;
}

.quest--choice-button:active {
    background-color: #D6DBF5;
}

input[type='radio'][name='5'] { visibility: hidden; }
input[type='radio'][name='10'] { visibility: hidden; }
input[type='radio'][name='15'] { visibility: hidden; }
input[type='radio'][name='20'] { visibility: hidden; }
input[type='radio'][name='25'] { visibility: hidden; }
.label {
    margin-right: 20px;
    margin-bottom:20px;
    display:inline-block;
    cursor: pointer;
    padding:10px 15px;
    width: fit-content;
    border:1px solid #e0e0e0;
    border-width: 0.5px;
    border-radius: 8px;
    background-color: #F5F7FB;
    width:10em;
    text-align:center;
    font-family: 'Inter';
    font-style: normal;
    color: #293264;
}

.label--gameOver-correct {
    margin-right: 20px;
    margin-bottom:20px;
    display:inline-block;
    cursor: pointer;
    padding:10px 15px;
    width: fit-content;
    border:1px solid #e0e0e0;
    border-width: 0.5px;
    border-radius: 8px;
    background-color: green;
    width:10em;
    text-align:center;
    font-family: 'Inter';
    font-style: normal;
    color: #293264;
}

.label--gameOver-wrong {
    margin-right: 20px;
    margin-bottom:20px;
    display:inline-block;
    cursor: pointer;
    padding:10px 15px;
    width: fit-content;
    border:1px solid #e0e0e0;
    border-width: 0.5px;
    border-radius: 8px;
    background-color: red;
    width:10em;
    text-align:center;
    font-family: 'Inter';
    font-style: normal;
    color: #293264;
}

label:hover {
    background-color: #aeb0b3a4;
}

label:active {
    background-color: #D6DBF5;
}

.quest--radio-custom:checked ~ label {
    background-color: #D6DBF5;
}

.quest--answers-div {
    display: flex;
    /* margin-bottom: 50px; */
}

.quest--one {
    margin-right: 0px;
}

.check-answers-btn {
    position: absolute;
    border-radius: 8px;
    width: fit-content;
    height:30px;
    background-color: #4D5B9E;;
    cursor: pointer;
    font-size: 1.1rem;
    border-width: 0.5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    margin-right: 20px;
    margin-left: 720px;
    margin-top:30px;
    padding-left:40px;
    padding-right:40px;
    padding-top:25px;
    padding-bottom:45px;
    color: white
}

.final-score-text {
    /* position: absolute; */
    margin-left: 450px;
    margin-top: 55px;
}
